.playlistWrapper{ 
    display:flex;
    width:100%;
    padding: 20px;
border-bottom: solid 1px  #b7b5b5;


}

.playlistTitleColumn{ 
    flex: 1 1 40%;
    text-align: left;
    font-size: 14px;
    /* color: #999999; */

}

.playlistAlbumColumn{ 
    flex: 1 1 30%;
    text-align: left;
    font-size: 14px;
    /* color: #999999; */
}

.playlistArtistColumn{ 
    flex: 1 1 30%;
    text-align: left;
    font-size: 14px;

}
.columnStyles { 
 
    font-weight:bold
}